

div.chekingTeacher
{
    cursor: pointer;
    position:relative;
}

div.chekingTeacher:hover 
{
    opacity: 0.7;
}

div.horizontal-node:before
{
    content: "›";
    font-size: 140%;
    left: -10px;
    position:absolute;
    top:-6px;
}

div.vertical-node:before
{
    content: "›";
    font-size: 140%;
    left: -10px;
    position:absolute;
    top:-3px;

    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg); 
}

div.chekingItem
{
    margin-left: 30px !important;
}

.redColor
{
    color: red;
}