
div.chekingTeacher
{
    margin-left: 20px !important;
    cursor: pointer;
    color: #121d54;

    position:relative;
}

div.horizontal-node:before
{
    content: "›";
    font-size: 140%;
    left: -10px;
    position:absolute;
    top:-6px;
}

div.vertical-node:before
{
    content: "›";
    font-size: 140%;
    left: -10px;
    position:absolute;
    top:-3px;

    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg); 
}

div.chekingTeacher:hover 
{
    color: #cc223c;
}

div.chekingItem
{
    margin-left: 30px !important;
}

.redColor
{
    color: red;
}